<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/media/logoRemoveBG.png" type="png" sizes="32px" />
    <title>Punto Light</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Chivo:wght@200;400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/css/estilos.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
    <header class="d-flex alinear-izq centrado fixed-top">
      <div class="logos-contenedor">
        <a href="#" class="header__logos d-flex centrado">
          <img
            src="/media/logoRemoveBG.png"
            alt="LOGO"
            class="header__logos-img"
          />
          <div class="d-flex-c header__logos-txt centrado">
            <h2 class="header__logos-nombre txt-grueso">Punto Light</h2>
            <p class="header__logos-slogan txt-grueso">Comida sin culpa</p>
          </div>
        </a>
      </div>
      <button id="abrirNavbar-btn" class="navbar__abrir-menu alinear-der ">
        <i id="navbar-btn__item" class="bi bi-list"></i>
      </button>
      <nav id="navbar" class="navbar d-flex alinear-der">
        <button id="cerrarNavbar-btn" class="navbar__cerrar-menu">
          <i id="navbar-btn__item" class="bi bi-x"></i>
        </button>
        <ul class="links-internos d-flex centrado">
          <li><a href="#hero" class="link-interno">Inicio</a></li>
          <li><a href="#nosotros" class="link-interno">Nosotros</a></li>
          <li><a href="#servicios" class="link-interno">Viandas</a></li>
          <li><a href="#contacto" class="link-interno">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="hero" class="d-flex centrado">
        <p class="hero__txt txt-grueso">Bienvenidos a</p>
        <img src="/media/logoRemoveBG.png" alt="LOGO" class="hero__logo" />
        <p class="hero__txt txt-grueso">Comida sin culpa</p>
      </section>
      <section id="nosotros" class="bg-verde">
        <h4 class="section-title">¡Estamos muy felices de verte!</h4>
        <div class="d-flex">
          <img src="/media/presentacion.png" alt="" class="nosotros__img" />
          <p class="nosotros__txt">
            ¿Estas con ganas de comer rico, sin dejar de comer saludable?<br />
            Nuestra motivación desde el primer día fue que esa sea una opción
            disponible para vos.<br />
            Por eso, decidimos especializarnos en lo mágico: fusionar lo
            saludable con lo exquisito. Así nacio
            <span class="txt-grueso">Punto Light</span>.<br />
            Con nosotros podrás disfrutar de diferentes servicios de viandas,
            pensadas para cuidar tu salud, adaptarse a tus necesidades, y mimar
            a tu paladar.<br />
            ¡Esperamos verte pronto en nuestra familia!
          </p>
        </div>
      </section>
      <section id="servicios" class="d-flex-c">
        <h4 class="section-title">Nuestras viandas</h4>
        <p class="servicios-txt">
          ¡Mirá todas las opciones que tenemos para ofrecerte!
        </p>
        <div class="servicios-card card-der alinear-der d-flex bg-verde">
          <div class="card__txt">
            <p class="card__titulo txt-grueso">VIANDA CON ELECCIÓN DE MENÚ</p>
            <p class="card__descripcion">
              ¡La favorita de nuestros clientes! De lunes a viernes, podrás
              elegir entre las más de quince (¡Si, quince!) opciones diarias de
              platos que tenemos disponibles para vos
            </p>
            <p class="card__precio txt-grueso">A tan solo $30.000 mensuales</p>
          </div>
          <img src="/media/viandaEleccion.png" alt="" class="card__img" />
        </div>
        <div class="servicios-card card-izq alinear-izq d-flex bg-verde">
          <div class="card__txt">
            <p class="card__titulo txt-grueso">VIANDA SIN ELECCIÓN DE MENÚ</p>
            <p class="card__descripcion">
              ¿Te gusta sorprenderte cada día? ¡Aquí está tu opción perfecta!
              Cada dpia tenemos un menú distinto para vos, y, por si fuera poco,
              ¡Al más bajo costo!
            </p>
            <p class="card__precio txt-grueso">A tan solo $22.000 mensuales</p>
          </div>
          <img src="/media/viandaSinEleccion.png" alt="" class="card__img" />
        </div>
        <div class="servicios-card card-der alinear-der d-flex bg-verde">
          <div class="card__txt">
            <p class="card__titulo txt-grueso">VIANDA EXTREMA</p>
            <p class="card__descripcion">
              Si sos amante de las carnes blancas, ¡Esto te va a encantar! Cada
              día habrá bifes de pollo o de pescado, con una nutrida variedad de
              guarniciones para que disfrutes
            </p>
            <p class="card__precio txt-grueso">A tan solo $27.000 mensuales</p>
          </div>
          <img src="/media/viandaExtrema.png" alt="" class="card__img" />
        </div>
      </section>
      <section id="envios" class="d-flex bg-verde">
        <div class="contenedor d-flex-c">
          <h4 class="section-title">¿Necesitas envíos?</h4>
          <p class="envios__txt">
            Nuestra recomendación es que retires tu comida por nuestro local,
            porque nos esmeramos tanto en nuestro trabajo, que nos encantaría
            que lo veas tal cual lo servimos. <br />
            Sin embargo, si necesitas envío, podemos proporcionarte números de
            cadete que trabajan por cuenta propia, y podrás arreglar con ellos
            para que te lleven tus comidas.
          </p>
        </div>
        <img src="/media/cadete.png" alt="" class="envios__img" />
      </section>
      <section id="testimonios" class="d-flex-c centrado">
        <h4 class="section-title">La opinión de nuestros clientes</h4>
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <!-- Aquí empieza la card del carrusel-->
              <div class="card-carrusel d-flex centrado">
                <img
                  src="/media/mujer.png"
                  alt=""
                  class="card-carrusel__imagen"
                />
                <p class="card-carrusel__opinion">
                  "Que placer comer rico y saludable, ¡Estoy muy contenta!"
                </p>
                <h5 class="card-carrusel__nombre">Laura Rojas</h5>
                <p class="card-carrusel__fecha">7/12/2023</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card-carrusel d-flex centrado">
                <img
                  src="/media/hombre.png"
                  alt=""
                  class="card-carrusel__imagen"
                />
                <p class="card-carrusel__opinion">
                  "¡Estoy encantado con la atención que recibí, fueron muy
                  amables!"
                </p>
                <h5 class="card-carrusel__nombre">Pedro Gonzales</h5>
                <p class="card-carrusel__fecha">7/12/2023</p>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <a href="/testimonios" class="reseña-cliente">¡Quiero dejar mi reseña!</a>
      </section>
      <section id="cta" class="d-flex-c centrado">
          <div class="cta-contenido d-flex-c centrado">
            <p class="cta__txt txt-grueso">
              ¿List@ para comer rico y saludable desde $1100 al día?
            </p>
            <a href="#contacto" class="cta__btn"
              >¡Por supuesto!</a
            >
          </div>
        </div>
      </section>
      <section id="contacto" class="d-flex-c">
        <h4 class="section-title">¿Quieres contactarnos?</h4>
        <div class="contacto__enlaces d-flex">
          <div class="alinear-izq mobile-centrado">
            <p class="contacto__txt">Para eso, podrías:</p>
            <a href="tel:3834640008" class="contacto__enlaces-contenedor d-flex">
              <i class="bi bi-telephone"></i>
              <p class="contacto__enlace">Llamarnos</p>
            </a>
            <a href="htpps://wa.me/5493834640008" class="contacto__enlaces-contenedor d-flex">
              <i class="bi bi-whatsapp"></i>
              <p class="contacto__enlace">Escribirnos</p>
            </a>
            <a href="https://www.instagram.com/puntolightcomidassinculpa/" class="contacto__enlaces-contenedor d-flex">
              <i class="bi bi-instagram"></i>
              <p class="contacto__enlace">Seguirnos</p>
            </a>
          </div>
          <div class="alinear-der mobile-centrado">
            <p class="contacto__enlace">O llegarte por nuestro local</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3507.198288834268!2d-65.79485379094905!3d-28.47357447565074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942428ecf56e79dd%3A0xa93cb99a3d86b06!2sGral.%20Villegas%20946%2C%20San%20Fernando%20del%20Valle%20de%20Catamarca%2C%20Catamarca!5e0!3m2!1ses-419!2sar!4v1701968921161!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="servicios-card card-izq alinear-izq d-flex-c bg-verde">
          <div class="card__txt">
            <h4 class="section-title__contact-form txt-grueso">¿Prefieres que nosotros lo hagamos?</h4>
            <p class="contacto__txt">
              Dejanos algunos datos para poder hacerlo, ¿Te parece?
            </p>
            <form action="" method="post" class="d-flex-c">
              <label for="nombre">Nombre y apellido</label>
              <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido">
              <label for="direccion">Dirección</label>
              <input type="text" name="direccion" id="direccion" placeholder="Dirección">
              <label for="telefono">Teléfono</label>
              <input type="tel" name="telefono" id="telefono" placeholder="Teléfono">
              <label for="plan">¿Qué plan te interesa más?</label>
                <div class="formulario__select-grupo">
                  <div><input type="radio" id="plan" name="grupo" value="opciones"> Vianda con opciones</div>
                  <div>
                    <input type="radio" id="plan" name="grupo" value="sinOpciones"> Vianda sin opciones</div>
                  <div>
                    <input type="radio" id="plan" name="grupo" value="extrema"> Vianda extrema</div>
                </div>
              <label for="mensaje">Mensaje</label>
              <textarea type="text" name="mensaje" id="mensaje" placeholder="¿Algo que quieras contarnos?"></textarea>
              <input type="submit" value="Enviar" class="btn-enviar">
            </form>
          </div>
        </div>
      </section>
    </main>
    <footer class="d-flex-c">
      <p class="footer__txt">© Punto Light 2023 | Todos los derechos reservados</p>
        <p class="footer__txt">Diseñado y desarrollado por <a href="https://sm-web-services.onrender.com">SM Web Services</a></p>
    </footer>
  </body>
  <script src="/js/index.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"
  ></script>
</html>
